{
    "token": "DISCORD_TOKEN",
    "twitter_api_key": "TWITTER_API_KEY",
    "twitter_api_secret": "TWITTER_API_SECRET",
    "twilio_account_sid": "TWILIO_ACCOUNT_SID",
    "twilio_auth_token": "TWILIO_AUTH_TOKEN",
    "smmry_api_key": "SMMRY_API_KEY"
}
